/*나눔스퀘어 서버용*/
@font-face {
    font-family: 'NanumSquare_L';
    src: url('../fonts/NanumSquare_L.eot');
    src: url('../fonts/NanumSquare_L.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_L.woff') format('woff'),
        url('../fonts/NanumSquare_L.ttf') format('truetype'),
        url('../fonts/NanumSquare_L.svg#NanumSquare_L') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare_R';
    src: url('../fonts/NanumSquare_R.eot');
    src: url('../fonts/NanumSquare_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_R.woff') format('woff'),
        url('../fonts/NanumSquare_R.ttf') format('truetype'),
        url('../fonts/NanumSquare_R.svg#NanumSquare_R') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare_B';
    src: url('../fonts/NanumSquare_B.eot');
    src: url('../fonts/NanumSquare_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_B.woff') format('woff'),
        url('../fonts/NanumSquare_B.ttf') format('truetype'),
        url('../fonts/NanumSquare_B.svg#NanumSquare_B') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare_EB';
    src: url('../fonts/NanumSquare_EB.eot');
    src: url('../fonts/NanumSquare_EB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_EB.woff') format('woff'),
        url('../fonts/NanumSquare_EB.ttf') format('truetype'),
        url('../fonts/NanumSquare_EB.svg#NanumSquare_EB') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*나눔스퀘어라운드 서버용*/
@font-face {
    font-family: 'NanumSquare_RL';
    src: url('../fonts/NanumSquare_RL.eot');
    src: url('../fonts/NanumSquare_RL.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_RL.woff') format('woff'),
        url('../fonts/NanumSquare_RL.ttf') format('truetype'),
        url('../fonts/NanumSquare_RL.svg#NanumSquare_RL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare_RR';
    src: url('../fonts/NanumSquare_RR.eot');
    src: url('../fonts/NanumSquare_RR.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_RR.woff') format('woff'),
        url('../fonts/NanumSquare_RR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare_RB';
    src: url('../fonts/NanumSquare_RB.eot');
    src: url('../fonts/NanumSquare_RB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_RB.woff') format('woff'),
        url('../fonts/NanumSquare_RB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare_REB';
    src: url('../fonts/NanumSquare_REB.eot');
    src: url('../fonts/NanumSquare_REB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquare_REB.woff') format('woff'),
        url('../fonts/NanumSquare_REB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*noto sans_서버용*/
@font-face {
    font-family: 'NotoKr_BK';
    src: url('../fonts/NotoKr_BK.eot');
    src: url('../fonts/NotoKr_BK.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoKr_BK.woff2') format('woff2'),
        url('../fonts/NotoKr_BK.woff') format('woff'),
        url('../fonts/NotoKr_BK.ttf') format('truetype'),
        url('../fonts/NotoKr_BK.svg#NotoKr_BK') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKr_B';
    src: url('../fonts/NotoKr_B.eot');
    src: url('../fonts/NotoKr_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoKr_B.woff2') format('woff2'),
        url('../fonts/NotoKr_B.woff') format('woff'),
        url('../fonts/NotoKr_B.ttf') format('truetype'),
        url('../fonts/NotoKr_B.svg#NotoKr_B') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKr_DL';
    src: url('../fonts/NotoKr_DL.eot');
    src: url('../fonts/NotoKr_DL.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoKr_DL.woff2') format('woff2'),
        url('../fonts/NotoKr_DL.woff') format('woff'),
        url('../fonts/NotoKr_DL.ttf') format('truetype'),
        url('../fonts/NotoKr_DL.svg#NotoKr_DL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKr_L';
    src: url('../fonts/NotoKr_L.eot');
    src: url('../fonts/NotoKr_L.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoKr_L.woff2') format('woff2'),
        url('../fonts/NotoKr_L.woff') format('woff'),
        url('../fonts/NotoKr_L.ttf') format('truetype'),
        url('../fonts/NotoKr_L.svg#NotoKr_L') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKr_M';
    src: url('../fonts/NotoKr_M.eot');
    src: url('../fonts/NotoKr_M.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoKr_M.woff2') format('woff2'),
        url('../fonts/NotoKr_M.woff') format('woff'),
        url('../fonts/NotoKr_M.ttf') format('truetype'),
        url('../fonts/NotoKr_M.svg#NotoKr_M') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKr_R';
    src: url('../fonts/NotoKr_R.eot');
    src: url('../fonts/NotoKr_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoKr_R.woff2') format('woff2'),
        url('../fonts/NotoKr_R.woff') format('woff'),
        url('../fonts/NotoKr_R.ttf') format('truetype'),
        url('../fonts/NotoKr_R.svg#NotoKr_R') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKr_T';
    src: url('../fonts/NotoKr_T.eot');
    src: url('../fonts/NotoKr_T.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoKr_T.woff2') format('woff2'),
        url('../fonts/NotoKr_T.woff') format('woff'),
        url('../fonts/NotoKr_T.ttf') format('truetype'),
        url('../fonts/NotoKr_T.svg#NotoKr_T') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 영문폰트 */
@font-face {
    font-family: 'Cabin_R', sans-serif;
    src: url('../fonts/Cabin_R.eot');
    src: url('../fonts/Cabin_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cabin_R.woff2') format('woff2'),
        url('../fonts/Cabin_R.woff') format('woff'),
        url('../fonts/Cabin_R.ttf') format('truetype'),
        url('../fonts/Cabin_R.svg#Cabin_R') format('svg');
}

@font-face {
    font-family: 'Montserrat_TI';
    src: url('../fonts/Montserrat_TI.eot');
    src: url('../fonts/Montserrat_TI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_TI.woff2') format('woff2'),
        url('../fonts/Montserrat_TI.woff') format('woff'),
        url('../fonts/Montserrat_TI.ttf') format('truetype'),
        url('../fonts/Montserrat_TI.svg#Montserrat_TI') format('svg');
}

@font-face {
    font-family: 'Montserrat_T';
    src: url('../fonts/Montserrat_T.eot');
    src: url('../fonts/Montserrat_T.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_T.woff2') format('woff2'),
        url('../fonts/Montserrat_T.woff') format('woff'),
        url('../fonts/Montserrat_T.ttf') format('truetype'),
        url('../fonts/Montserrat_T.svg#Montserrat_T') format('svg');
}

@font-face {
    font-family: 'Montserrat_SBI';
    src: url('../fonts/Montserrat_SBI.eot');
    src: url('../fonts/Montserrat_SBI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_SBI.woff2') format('woff2'),
        url('../fonts/Montserrat_SBI.woff') format('woff'),
        url('../fonts/Montserrat_SBI.ttf') format('truetype'),
        url('../fonts/Montserrat_SBI.svg#Montserrat_SBI') format('svg');
}

@font-face {
    font-family: 'Montserrat_SB';
    src: url('../fonts/Montserrat_SB.eot');
    src: url('../fonts/Montserrat_SB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_SB.woff2') format('woff2'),
        url('../fonts/Montserrat_SB.woff') format('woff'),
        url('../fonts/Montserrat_SB.ttf') format('truetype'),
        url('../fonts/Montserrat_SB.svg#Montserrat_SB') format('svg');
}

@font-face {
    font-family: 'Montserrat_R';
    src: url('../fonts/Montserrat_R.eot');
    src: url('../fonts/Montserrat_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_R.woff2') format('woff2'),
        url('../fonts/Montserrat_R.woff') format('woff'),
        url('../fonts/Montserrat_R.ttf') format('truetype'),
        url('../fonts/Montserrat_R.svg#Montserrat_R') format('svg');
}

@font-face {
    font-family: 'Montserrat_MI';
    src: url('../fonts/Montserrat_MI.eot');
    src: url('../fonts/Montserrat_MI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_MI.woff2') format('woff2'),
        url('../fonts/Montserrat_MI.woff') format('woff'),
        url('../fonts/Montserrat_MI.ttf') format('truetype'),
        url('../fonts/Montserrat_MI.svg#Montserrat_MI') format('svg');
}

@font-face {
    font-family: 'Montserrat_M';
    src: url('../fonts/Montserrat_M.eot');
    src: url('../fonts/Montserrat_M.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_M.woff2') format('woff2'),
        url('../fonts/Montserrat_M.woff') format('woff'),
        url('../fonts/Montserrat_M.ttf') format('truetype'),
        url('../fonts/Montserrat_M.svg#Montserrat_M') format('svg');
}

@font-face {
    font-family: 'Montserrat_LI';
    src: url('../fonts/Montserrat_LI.eot');
    src: url('../fonts/Montserrat_LI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_LI.woff2') format('woff2'),
        url('../fonts/Montserrat_LI.woff') format('woff'),
        url('../fonts/Montserrat_LI.ttf') format('truetype'),
        url('../fonts/Montserrat_LI.svg#Montserrat_LI') format('svg');
}

@font-face {
    font-family: 'Montserrat_L';
    src: url('../fonts/Montserrat_L.eot');
    src: url('../fonts/Montserrat_L.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_L.woff2') format('woff2'),
        url('../fonts/Montserrat_L.woff') format('woff'),
        url('../fonts/Montserrat_L.ttf') format('truetype'),
        url('../fonts/Montserrat_L.svg#Montserrat_L') format('svg');
}

@font-face {
    font-family: 'Montserrat_I';
    src: url('../fonts/Montserrat_I.eot');
    src: url('../fonts/Montserrat_I.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_I.woff2') format('woff2'),
        url('../fonts/Montserrat_I.woff') format('woff'),
        url('../fonts/Montserrat_I.ttf') format('truetype'),
        url('../fonts/Montserrat_I.svg#Montserrat_I') format('svg');
}

@font-face {
    font-family: 'Montserrat_ELI';
    src: url('../fonts/Montserrat_ELI.eot');
    src: url('../fonts/Montserrat_ELI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_ELI.woff2') format('woff2'),
        url('../fonts/Montserrat_ELI.woff') format('woff'),
        url('../fonts/Montserrat_ELI.ttf') format('truetype'),
        url('../fonts/Montserrat_ELI.svg#Montserrat_ELI') format('svg');
}

@font-face {
    font-family: 'Montserrat_EL';
    src: url('../fonts/Montserrat_EL.eot');
    src: url('../fonts/Montserrat_EL.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_EL.woff2') format('woff2'),
        url('../fonts/Montserrat_EL.woff') format('woff'),
        url('../fonts/Montserrat_EL.ttf') format('truetype'),
        url('../fonts/Montserrat_EL.svg#Montserrat_EL') format('svg');
}

@font-face {
    font-family: 'Montserrat_EBI';
    src: url('../fonts/Montserrat_EBI.eot');
    src: url('../fonts/Montserrat_EBI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_EBI.woff2') format('woff2'),
        url('../fonts/Montserrat_EBI.woff') format('woff'),
        url('../fonts/Montserrat_EBI.ttf') format('truetype'),
        url('../fonts/Montserrat_EBI.svg#Montserrat_EBI') format('svg');
}

@font-face {
    font-family: 'Montserrat_EB';
    src: url('../fonts/Montserrat_EB.eot');
    src: url('../fonts/Montserrat_EB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_EB.woff2') format('woff2'),
        url('../fonts/Montserrat_EB.woff') format('woff'),
        url('../fonts/Montserrat_EB.ttf') format('truetype'),
        url('../fonts/Montserrat_EB.svg#Montserrat_EB') format('svg');
}

@font-face {
    font-family: 'Montserrat_BI';
    src: url('../fonts/Montserrat_BI.eot');
    src: url('../fonts/Montserrat_BI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_BI.woff2') format('woff2'),
        url('../fonts/Montserrat_BI.woff') format('woff'),
        url('../fonts/Montserrat_BI.ttf') format('truetype'),
        url('../fonts/Montserrat_BI.svg#Montserrat_BI') format('svg');
}

@font-face {
    font-family: 'Montserrat_B';
    src: url('../fonts/Montserrat_B.eot');
    src: url('../fonts/Montserrat_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_B.woff2') format('woff2'),
        url('../fonts/Montserrat_B.woff') format('woff'),
        url('../fonts/Montserrat_B.ttf') format('truetype'),
        url('../fonts/Montserrat_B.svg#Montserrat_B') format('svg');
}

@font-face {
    font-family: 'Montserrat_BKI';
    src: url('../fonts/Montserrat_BKI.eot');
    src: url('../fonts/Montserrat_BKI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_BKI.woff2') format('woff2'),
        url('../fonts/Montserrat_BKI.woff') format('woff'),
        url('../fonts/Montserrat_BKI.ttf') format('truetype'),
        url('../fonts/Montserrat_BKI.svg#Montserrat_BKI') format('svg');
}

@font-face {
    font-family: 'Montserrat_Bk';
    src: url('../fonts/Montserrat_Bk.eot');
    src: url('../fonts/Montserrat_Bk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_Bk.woff2') format('woff2'),
        url('../fonts/Montserrat_Bkc.woff') format('woff'),
        url('../fonts/Montserrat_Bk.ttf') format('truetype'),
        url('../fonts/Montserrat_Bk.svg#Montserrat_Bk') format('svg');
}

@font-face {
    font-family: 'SeoulNamsan_R';
    src: url('../fonts/SeoulNamsan_R.eot');
    src: url('../fonts/SeoulNamsan_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SeoulNamsan_R.woff2') format('woff2'),
        url('../fonts/SeoulNamsan_R.woff') format('woff'),
        url('../fonts/SeoulNamsan_R.ttf') format('truetype'),
        url('../fonts/SeoulNamsan_R.svg#SeoulNamsan_R') format('svg');
}

@font-face {
    font-family: 'SeoulNamsan_L';
    src: url('../fonts/SeoulNamsan_L.eot');
    src: url('../fonts/SeoulNamsan_L.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SeoulNamsan_L.woff2') format('woff2'),
        url('../fonts/SeoulNamsan_L.woff') format('woff'),
        url('../fonts/SeoulNamsan_L.ttf') format('truetype'),
        url('../fonts/SeoulNamsan_L.svg#SeoulNamsan_L') format('svg');
}

/* 제목 */
@font-face {
    font-family: 'BMDohyeon';
    src: url('../fonts/BMDohyeon');
    src: url('../fonts/BMDohyeon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BMDohyeon.woff2') format('woff2'),
        url('../fonts/BMDohyeon.woff') format('woff'),
        url('../fonts/BMDohyeon.ttf') format('truetype'),
        url('../fonts/BMDohyeon.svg#BMDohyeon') format('svg');
}

@font-face {
    font-family: 'BMHanna';
    src: url('../fonts/BMHanna');
    src: url('../fonts/BMHanna.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BMHanna.woff2') format('woff2'),
        url('../fonts/BMHanna.woff') format('woff'),
        url('../fonts/BMHanna.ttf') format('truetype'),
        url('../fonts/BMHanna.svg#BMHanna') format('svg');
}

@font-face {
    font-family: 'BMJua';
    src: url('../fonts/BMJua');
    src: url('../fonts/BMJua.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BMJua.woff2') format('woff2'),
        url('../fonts/BMJua.woff') format('woff'),
        url('../fonts/BMJua.ttf') format('truetype'),
        url('../fonts/BMJua.svg#BMJua') format('svg');
}

@font-face {
    font-family: 'BMYeonsung';
    src: url('../fonts/BMYeonsung');
    src: url('../fonts/BMYeonsung.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BMYeonsung.woff2') format('woff2'),
        url('../fonts/BMYeonsung.woff') format('woff'),
        url('../fonts/BMYeonsung.ttf') format('truetype'),
        url('../fonts/BMYeonsung.svg#BMYeonsung') format('svg');
}

@font-face {
    font-family: 'TmonTium';
    src: url('../fonts/TmonTium');
    src: url('../fonts/TmonTium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TmonTium.woff2') format('woff2'),
        url('../fonts/TmonTium.woff') format('woff'),
        url('../fonts/TmonTium.ttf') format('truetype')
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('../fonts/TmonMonsori');
    src: url('../fonts/TmonMonsori.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TmonMonsori.woff2') format('woff2'),
        url('../fonts/TmonMonsori.woff') format('woff'),
        url('../fonts/TmonMonsori.ttf') format('truetype'),
        url('../fonts/TmonMonsori.svg#TmonMonsori') format('svg');
}

@font-face {
    font-family: 'EBSHunminjeongeum_B';
    src: url('../fonts/EBSHunminjeongeum_B');
    src: url('../fonts/EBSHunminjeongeum_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EBSHunminjeongeum_B.woff2') format('woff2'),
        url('../fonts/EBSHunminjeongeum_B.woff') format('woff'),
        url('../fonts/EBSHunminjeongeum_B.ttf') format('truetype'),
        url('../fonts/EBSHunminjeongeum_B.svg#EBSHunminjeongeum_B') format('svg');
}

@font-face {
    font-family: 'EBSHunminjeongeum_R';
    src: url('../fonts/EBSHunminjeongeum_R');
    src: url('../fonts/EBSHunminjeongeum_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EBSHunminjeongeum_R.woff2') format('woff2'),
        url('../fonts/EBSHunminjeongeum_R.woff') format('woff'),
        url('../fonts/EBSHunminjeongeum_R.ttf') format('truetype'),
        url('../fonts/EBSHunminjeongeum_R.svg#EBSHunminjeongeum_R') format('svg');
}

@font-face {
    font-family: 'EBSHunminjeongeum_L';
    src: url('../fonts/EBSHunminjeongeum_L');
    src: url('../fonts/EBSHunminjeongeum_L.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EBSHunminjeongeum_L.woff2') format('woff2'),
        url('../fonts/EBSHunminjeongeum_L.woff') format('woff'),
        url('../fonts/EBSHunminjeongeum_L.ttf') format('truetype'),
        url('../fonts/EBSHunminjeongeum_L.svg#EBSHunminjeongeum_L') format('svg');
}

/* 손글씨 */
@font-face {
    font-family: 'YanoljaYache_B';
    src: url('../fonts/YanoljaYache_B');
    src: url('../fonts/YanoljaYache_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YanoljaYache_B.woff2') format('woff2'),
        url('../fonts/YanoljaYache_B.woff') format('woff'),
        url('../fonts/YanoljaYache_B.ttf') format('truetype'),
        url('../fonts/YanoljaYache_B.svg#YanoljaYache_B') format('svg');
}

@font-face {
    font-family: 'YanoljaYache_R';
    src: url('../fonts/YanoljaYache_R');
    src: url('../fonts/YanoljaYache_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YanoljaYache_R.woff2') format('woff2'),
        url('../fonts/YanoljaYache_R.woff') format('woff'),
        url('../fonts/YanoljaYache_R.ttf') format('truetype'),
        url('../fonts/YanoljaYache_R.svg#YanoljaYache_R') format('svg');
}

@font-face {
    font-family: 'OSeongandHanEum_B';
    src: url('../fonts/OSeongandHanEum_B');
    src: url('../fonts/OSeongandHanEum_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OSeongandHanEum_B.woff2') format('woff2'),
        url('../fonts/OSeongandHanEum_B.woff') format('woff'),
        url('../fonts/OSeongandHanEum_B.ttf') format('truetype'),
        url('../fonts/OSeongandHanEum_B.svg#OSeongandHanEum_B') format('svg');
}

@font-face {
    font-family: 'OSeongandHanEum_R';
    src: url('../fonts/OSeongandHanEum_R');
    src: url('../fonts/OSeongandHanEum_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OSeongandHanEum_R.woff2') format('woff2'),
        url('../fonts/OSeongandHanEum_R.woff') format('woff'),
        url('../fonts/OSeongandHanEum_R.ttf') format('truetype'),
        url('../fonts/OSeongandHanEum_R.svg#OSeongandHanEum_R') format('svg');
}

@font-face {
    font-family: 'Makgeolli';
    src: url('../fonts/Makgeolli');
    src: url('../fonts/Makgeolli.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Makgeolli.woff2') format('woff2'),
        url('../fonts/Makgeolli.woff') format('woff'),
        url('../fonts/Makgeolli.ttf') format('truetype'),
        url('../fonts/Makgeolli.svg#Makgeolli') format('svg');
}


@font-face {
    font-family: 'YiSunShinDotum_B';
    src: url('../fonts/YiSunShinDotum_B');
    src: url('../fonts/YiSunShinDotum_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YiSunShinDotum_B.woff2') format('woff2'),
        url('../fonts/YiSunShinDotum_B.woff') format('woff'),
        url('../fonts/YiSunShinDotum_B.ttf') format('truetype'),
        url('../fonts/YiSunShinDotum_B.svg#YiSunShinDotum_B') format('svg');
}

@font-face {
    font-family: 'YiSunShinDotum_R';
    src: url('../fonts/YiSunShinDotum_R');
    src: url('../fonts/YiSunShinDotum_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YiSunShinDotum_R.woff2') format('woff2'),
        url('../fonts/YiSunShinDotum_R.woff') format('woff'),
        url('../fonts/YiSunShinDotum_R.ttf') format('truetype'),
        url('../fonts/YiSunShinDotum_R.svg#YiSunShinDotum_R') format('svg');
}

@font-face {
    font-family: 'YiSunShinDotum_L';
    src: url('../fonts/YiSunShinDotum_L');
    src: url('../fonts/YiSunShinDotum_L.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YiSunShinDotum_L.woff2') format('woff2'),
        url('../fonts/YiSunShinDotum_L.woff') format('woff'),
        url('../fonts/YiSunShinDotum_L.ttf') format('truetype'),
        url('../fonts/YiSunShinDotum_L.svg#YiSunShinDotum_L') format('svg');
}

@font-face {
    font-family: 'YiSunShin_B';
    src: url('../fonts/YiSunShin_B');
    src: url('../fonts/YiSunShin_B.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YiSunShin_B.woff2') format('woff2'),
        url('../fonts/YiSunShin_B.woff') format('woff'),
        url('../fonts/YiSunShin_B.ttf') format('truetype'),
        url('../fonts/YiSunShin_B.svg#YiSunShin_B') format('svg');
}

@font-face {
    font-family: 'YiSunShin_R';
    src: url('../fonts/YiSunShin_R');
    src: url('../fonts/YiSunShin_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YiSunShin_R.woff2') format('woff2'),
        url('../fonts/YiSunShin_R.woff') format('woff'),
        url('../fonts/YiSunShin_R.ttf') format('truetype'),
        url('../fonts/YiSunShin_R.svg#YiSunShin_R') format('svg');
}

@font-face {
    font-family: 'THEFACESHOPInklipquid';
    src: url('../fonts/THEFACESHOPInklipquid');
    src: url('../fonts/THEFACESHOPInklipquid.eot?#iefix') format('embedded-opentype'),
        url('../fonts/THEFACESHOPInklipquid.woff2') format('woff2'),
        url('../fonts/THEFACESHOPInklipquid.woff') format('woff'),
        url('../fonts/THEFACESHOPInklipquid.ttf') format('truetype'),
        url('../fonts/THEFACESHOPInklipquid.svg#THEFACESHOPInklipquid') format('svg');
}


/*font------------------------------------------------------------------------------------------------------------------ */
.NS_L {
    font-family: 'NanumSquare_L', sans-serif;
}

.NS_R {
    font-family: 'NanumSquare_R', sans-serif;
}

.NS_B {
    font-family: 'NanumSquare_B', sans-serif;
}

.NS_EB {
    font-family: 'NanumSquare_EB', sans-serif;
}

.NS_RL {
    font-family: 'NanumSquare_RL', sans-serif;
}

.NS_RR {
    font-family: 'NanumSquare_RR', sans-serif;
}

.NS_RB {
    font-family: 'NanumSquare_RB', sans-serif;
}

.NS_REB {
    font-family: 'NanumSquare_REB', sans-serif;
}

.Nt_R {
    font-family: 'NotoKr_R';
}

.Nt_BK {
    font-family: 'NotoKr_BK';
}

.Nt_B {
    font-family: 'NotoKr_B';
}

.Nt_DL {
    font-family: 'NotoKr_DL';
}

.Nt_L {
    font-family: 'NotoKr_L';
}

.Nt_M {
    font-family: 'NotoKr_M';
}

.Nt_T {
    font-family: 'NotoKr_T';
}

.Cabin {
    font-family: 'Cabin', sans-serif;
}

.Mont_R {
    font-family: 'Montserrat_R', sans-serif;
}

.Mont_L {
    font-family: 'Montserrat_L', sans-serif;
}

.Mont_M {
    font-family: 'Montserrat_M', sans-serif;
}

.Mont_B {
    font-family: 'Montserrat_B', sans-serif;
}

/*추가 폰트*/
/*본문*/
.SHS_B {
    font-family: 'SpoqaHanSans_B', sans-serif;
}

.SHS_R {
    font-family: 'SpoqaHanSans_R', sans-serif;
}

.SHS_L {
    font-family: 'SpoqaHanSans_L', sans-serif;
}

.SHS_T {
    font-family: 'SpoqaHanSans_T', sans-serif;
}

.SN_B {
    font-family: 'SeoulNamsan_B', sans-serif;
}

.SN_R {
    font-family: 'SeoulNamsan_R', sans-serif;
}


/*제목*/
.BMD {
    font-family: 'BMDohyeon', sans-serif;
}

.BMH {
    font-family: 'BMHanna', sans-serif;
}

.BMJ {
    font-family: 'BMJua', sans-serif;
}

.BMY {
    font-family: 'BMYeonsung', sans-serif;
}

.TmonT {
    font-family: 'TmonTium', sans-serif;
}

.TmonM {
    font-family: 'TmonMonsori', sans-serif;
}

.EBSH_B {
    font-family: 'EBSHunminjeongeum_B', sans-serif;
}

.EBSH_R {
    font-family: 'EBSHunminjeongeum_R', sans-serif;
}

.EBSH_L {
    font-family: 'EBSHunminjeongeum_L', sans-serif;
}

/*손글씨*/

/*나눔스퀘어*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'NotoKr_R', sans-serif;
}

/*set_up-----------------------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'NotoKr_R', sans-serif;
    font-size: 14px;
    width: 100%;
    height: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
ol,
dl {
    list-style: none;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

img {
    border: none;
}

/*텍스트 밑줄 없애기*/
a {
    text-decoration: none;
    color: #767676;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #010101;
}

a:hover {
    text-decoration: none;
    color: #010101;
}

/*인용구*/
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote,
q {
    quotes: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

/*clearfix*/
.cf:after {
    clear: both;
    content: "";
    display: block;
}

/*float*/
.FL {
    float: left
}

.FR {
    float: right
}

/*set_up-----------------------------------------------------------------------------------------------------------------*/

/*custom-----------------------------------------------------------------------------------------------------------------*/

/*추가 편의*/