<div id="dataService">
    <div id="layout_1">
        <div class="_rending_image">
            <div class="_title">
                <p>오픈메이트온은</p>
                <p>실생활의 가치를 서비스합니다</p>
            </div>
        </div>
    </div>
    <!-- Data-ON -->
    <div id="dataon" class="_service_list">
        <div class="_top">
            <div class="_title"><a href="https://data-on.co.kr" target="_blank">Data-ON</a></div>
            <div class="_go">
                <img class="_site _mobile" src="img/data_service/M.P03_btn_go.png" url="https://data-on.co.kr" alt="">
                <!-- <img class="_pdf _mobile" src="img/data_service/M.P03_btn_down.png" url="pdf/trendon_intro.pdf" alt=""> -->
                <div class="_button _web">
                    <img class="_site" src="img/data_service/W.P03_btn_go.png" url="https://data-on.co.kr" alt="">
                </div>
                <div class="_button _intro _web">
                    <!-- <img class="_pdf" src="img/data_service/W.P03_btn_down.png" url="pdf/trendon_intro.pdf" alt=""> -->
                </div>
            </div>
            <div class="_url _web"><a href="https://trend-on.co.kr" target="_blank">www.data-on.co.kr</a></div>
            <div class="_subtitle">
                <p>원하는 데이터 검색하고</p>
                <p>한 번에 찾아 활용할 수 있는 데이터플랫폼 서비스</p>
            </div>
        </div>
        <div class="_middle _utube">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GbY3v65rg4A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="_slider_list _web">
            <div class="slider">
                <div class="_slider_item"><img src="img/data_service/DataON_01.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/DataON_02.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/DataON_03.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/DataON_04.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/DataON_05.png" alt=""></div>
            </div>
        </div>
        <div class="_bottom">
            <span>- 헤맬 필요 없이 전국 데이터를 한 곳에서 확인 가능</span>
            <span>- 표준포맷 데이터 제공으로 데이터 전처리 시간 감소</span>
            <span>- 데이터 다운 받기 전 품질 확인 가능</span>
            <span>- 번거로운 회원가입 없이 누구나 데이터 다운 가능</span>
        </div>
    </div>
    <!-- Data-ON -->

    <!-- Trend-ON -->
    <div id="trendon" class="_service_list">
        <div class="_top">
            <div class="_title"><a href="https://trend-on.co.kr" target="_blank">Trend-ON</a></div>
            <div class="_go">
                <img class="_site _mobile" src="img/data_service/M.P03_btn_go.png" url="https://trend-on.co.kr" alt="">
                <img class="_pdf _mobile" src="img/data_service/M.P03_btn_down.png" url="pdf/trendon_intro.pdf" alt="">
                <div class="_button _web">
                    <img class="_site" src="img/data_service/W.P03_btn_go.png" url="https://trend-on.co.kr" alt="">
                </div>
                <div class="_button _intro _web">
                    <img class="_pdf" src="img/data_service/W.P03_btn_down.png" url="pdf/trendon_intro.pdf" alt="">
                </div>
            </div>
            <div class="_url _web"><a href="https://trend-on.co.kr" target="_blank">www.trend-on.co.kr</a></div>
            <div class="_subtitle">
                <p>'빅데이터 & 스마트리포트'로 보는</p>
                <p>지역경제 분석 서비스</p>
            </div>
        </div>
        <div class="_middle _utube">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Zxrecv7GaVg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="_slider_list _web">
            <div class="slider">
                <div class="_slider_item"><img src="img/data_service/Trendon_01.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Trendon_02.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Trendon_03.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Trendon_04.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Trendon_05.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Trendon_06.png" alt=""></div>
            </div>
        </div>
        <div class="_bottom">
            <span>- 소비매출 + 유동인구 빅데이터를 한눈에 파악</span>
            <span>- 원하는 기간만큼 계정발급 즉시 사용 가능</span>
            <span>- 매월 데이터 자동 업데이트</span>
            <span>- 클릭 한 번으로 자동리포트 생성 및 다운로드</span>
        </div>
    </div>
    <!-- Trend-ON -->

    <!-- Safe-ON -->
    <div id="safeon" class="_service_list">
        <div class="_top">
            <div class="_title"><a href="https://safe-on.co.kr" target="_blank">Safe-ON</a></div>
            <div class="_go">
                <img class="_site _mobile" src="img/data_service/M.P03_btn_go.png" url="https://safe-on.co.kr" alt="">
                <img class="_pdf _mobile" src="img/data_service/M.P03_btn_down.png" url="pdf/safeon_intro.pdf" alt="">
                <div class="_button _web">
                    <img class="_site" src="img/data_service/W.P03_btn_go.png" url="https://safe-on.co.kr" alt="">
                </div>
                <div class="_button _intro _web">
                    <img class="_pdf" src="img/data_service/W.P03_btn_down.png" url="pdf/safeon_intro.pdf" alt="">
                </div>
            </div>
            <div class="_url _web"><a href="https://safe-on.co.kr" target="_blank">www.safe-on.co.kr</a></div>
            <div class="_subtitle">
                <p>'빅데이터 & 인공지능'으로 보는</p>
                <p>CCTV입지분석 서비스</p>
            </div>
        </div>
        <div class="_middle _utube">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Chj2PKyCePU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="_slider_list _web">
            <div class="slider">
                <div class="_slider_item"><img src="img/data_service/Safeon_01.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Safeon_02.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Safeon_03.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Safeon_04.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Safeon_05.png" alt=""></div>
            </div>
        </div>
        <div class="_bottom">
            <span>- 공공 및 민간 빅데이터 자체 보유</span>
            <span>- 최신 딥러닝 기술을 적용하여 지역 맞춤형 결과 도출</span>
            <span>- 로드뷰 등의 편의기능을 포함한 스마트 웹뷰어 제공</span>
            <span>- 기관 등록 후 즉시 서비스 이용 가능</span>
        </div>
    </div>
    <!-- Safe-ON -->

    <!-- Smart-ON -->
    <div id="smarton" class="_service_list">
        <div class="_top">
            <div class="_title"><a href="https://smart-on.co.kr" target="_blank">Smart-ON</a></div>
            <div class="_go">
                <img class="_site _mobile" src="img/data_service/M.P03_btn_go.png" url="https://smart-on.co.kr" alt="">
                <img class="_pdf _mobile" src="img/data_service/M.P03_btn_down.png" url="pdf/smarton_intro.pdf" alt="">
                <div class="_button _web">
                    <img class="_site" src="img/data_service/W.P03_btn_go.png" url="https://smart-on.co.kr" alt="">
                </div>
                <div class="_button _intro _web">
                    <img class="_pdf" src="img/data_service/W.P03_btn_down.png" url="pdf/smarton_intro.pdf" alt="">
                </div>
            </div>
            <div class="_url _web"><a href="https://smart-on.co.kr" target="_blank">www.smart-on.co.kr</a></div>
            <div class="_subtitle">
                <p>'빅데이터 & 인공지능'으로 진단하고 처방하는</p>
                <p>도시분석 서비스</p>
            </div>
        </div>
        <div class="_middle _utube">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NiW_BDLmqrg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="_slider_list _web">
            <div class="slider">
                <div class="_slider_item"><img src="img/data_service/Smarton_01.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Smarton_02.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Smarton_03.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Smarton_04.png" alt=""></div>
                <div class="_slider_item"><img src="img/data_service/Smarton_05.png" alt=""></div>
            </div>
        </div>
        <div class="_bottom">
            <span>- 전국 지방자치단체 예산 및 계약현황 데이터 활용</span>
            <span>- 최신 분석기법을 활용하여 맞춤형 정책 추천</span>
            <span>- 다양한 분야의 공공데이터 수집 및 활용</span>
            <span>- 분야별 지표제공, 유사지자체와 비교를 통한 도시진단</span>
        </div>
    </div>
    <!-- Smart-ON -->

    <div id="layout_2">
        <div class="_title">고객사</div>
        <div class="_customer_list">
            <div class="_customer_item _type1">
                <div class="_image"></div>
            </div>
        </div>
        <!-- <div class="_add">
            <div class="_button _plus">더 보기 +</div>
            <div class="_button _fold">접기</div>
        </div> -->
    </div>
    <div id="layout_3" class="_modal _mobile">
        <div class="_modal_container">
            <div class="_modal_download">
                <div class="_modal_title">
                    <p>소개자료를 다운로드</p>
                    <p>받으시겠습니까?</p>
                </div>
                <div class="_modal_contents">소개자료는 새창으로 열립니다.</div>
            </div>
            <div class="_modal_service">
                <div class="_modal_title">
                    <p><span class="_service_name"></span> 서비스로</p>
                    <p>이동하시겠습니까?</p>
                </div>
                <div class="_modal_contents">서비스 화면은 새창으로 열립니다.</div>
            </div>
            <div class="_modal_buttons">
                <div class="_modal_button _cancel">취소</div>
                <div class="_modal_button _confirm">확인</div>
            </div>
        </div>
    </div>
</div>