<div id="estateService">
    <div id="layout_1">
        <div class="_rending_image">
            <div class="_title">
                <p>오픈메이트온은</p>
                <p>실생활의 가치를 서비스합니다</p>
            </div>
        </div>
    </div>
    <div id="real" class="_service_list">
        <div class="_top">
            <div class="_title">Data + Real estate</div>
            <div class="_go">
                <div class="_button"><a href="mailto:sales@openmate-on.co.kr">컨설팅 문의하기</a></div>
            </div>
            <div class="_subtitle">상업용 부동산 컨설팅 서비스</div>
            <div class="_detail">
                <span>빅데이터분석을 통해 부동산의 가치증대에</span>
                <span>적합한 과학적, 논리적 대안을 제시합니다.</span>
            </div>
        </div>
        <div class="_middle _utube _type1"></div>
        <div class="_slider_list _web">
            <div class="slider">
                <div class="_slider_item"><img src="img/estate_service/CS_0.png" alt=""></div>
                <div class="_slider_item"><img src="img/estate_service/CS_01.png" alt=""></div>
                <div class="_slider_item"><img src="img/estate_service/CS_02.png" alt=""></div>
                <div class="_slider_item"><img src="img/estate_service/CS_03.png" alt=""></div>
            </div>
        </div>
        <div class="_bottom">
            <span>- 카드사·통신사 제휴를 통한 최신 데이터 활용</span>
            <span>- 데이터 기반의 수익성 예측을 통한 MD 플랜 수립</span>
            <span>- A.I., 머신러닝 등을 활용한 빅데이터 분석 노하우 보유</span>
            <span>- 고객맞춤형 소지역단위 분석결과 제공</span>
        </div>
    </div>
    <div id="stream" class="_service_list">
        <div class="_top">
            <div class="_title">STREAM</div>
            <div class="_go">
                <div class="_button"><a href="mailto:sales@openmate-on.co.kr">컨설팅 문의하기</a></div>
            </div>
            <div class="_subtitle">데이터 기반 부동산 플랫폼 서비스</div>
            <div class="_detail">
                <span>입지상권분석, 수익성 시뮬레이션, MD제안 등을</span>
                <span>One-click Report로 제안합니다.</span>
            </div>
        </div>
        <div class="_middle _utube _type2"></div>
        <div class="_slider_list _web">
            <div class="slider">
                <div class="_slider_item"><img src="img/estate_service/Stream_01.png" alt=""></div>
                <div class="_slider_item"><img src="img/estate_service/Stream_02.png" alt=""></div>
                <div class="_slider_item"><img src="img/estate_service/Stream_03.png" alt=""></div>
                <div class="_slider_item"><img src="img/estate_service/Stream_04.png" alt=""></div>
                <div class="_slider_item"><img src="img/estate_service/Stream_05.png" alt=""></div>
            </div>
        </div>
        <div class="_bottom">
            <span>- 대상지 주소만 입력하면 완료되는 원스톱 서비스</span>
            <span>- 시나리오별 핵심 임차인 분석 및 수익성 분석</span>
            <span>- 공공/민간 빅데이터를 활용한 분석 수행</span>
            <span>- 분석 내용을 담은 리포트 자동 생성</span>
        </div>
    </div>
    <div id="layout_2">
        <div class="_title">고객사</div>
        <div class="_customer_list">
            <div class="_customer_item _type1">
                <div class="_image"></div>
            </div>
            <div class="_customer_item _type2">
                <div class="_image"></div>
            </div>
            <div class="_customer_item _type3">
                <div class="_image"></div>
            </div>
            <div class="_customer_item _type4">
                <div class="_image"></div>
            </div>
        </div>
        <!-- <div class="_add">
            <div class="_button _plus">더 보기 +</div>
            <div class="_button _fold">접기</div>
        </div> -->
    </div>
</div>