<div id="home">
    <div id="layout_1">
        <div class="_rending_video">
            <video width="100%" height="100%" autoplay loop muted playsinline preload="metadata">
                <!-- <video width=" 100%" height="100%" autoplay loop muted playsinline preload="metadata" poster="./img/home/rending02.jpg"> -->
                <source src="./video/rending01.mp4" type="video/mp4">
                <img src="./img/home/rending02.jpg" title="Your browser does not support the <video> tag" />
                <!-- <source src="./video/banksalad.mp4" type="video/mp4"> -->
                <!-- <source src="./video/mov_bbb.mp4" type="video/ogg"> -->
                Your browser does not support HTML video.
            </video>
        </div>
        <div class="_rending_image">
            <div class="_title">
                <p>데이터를 실생활의</p>
                <p>가치로 전환</p>
            </div>
            <div class="_add">
                <p>더 알아보실래요?</p>
                <img src="./img/home/btn_more_22px.png" alt="">
            </div>
        </div>
    </div>
    <div class="_background_1">
        <div id="layout_2">
            <div class="_title">
                <span><q class="_company_name">오픈메이트온</q>은</span>
                <span>끊임없이</span>
                <span>도전합니다.</span>
            </div>
            <div class="_detail">
                <p>
                    <span>사회적 가치창출과 혁신적인 기술을 바탕으로</span>
                    <span>분석, 디자인, 개발 분야별 전문가들이 모여서</span>
                    <span>실생활에 필요한 서비스 개발을 위해 노력하고 있습니다</span>
                </p>
            </div>
            <div class="_contents _type">
                <div class="_title">데이터 종류</div>
                <div class="_icon"></div>
                <div class="_data"><span id="count01"></span>종</div>
            </div>
            <div class="_contents _usage">
                <div class="_title">데이터 용량</div>
                <div class="_icon"></div>
                <div class="_data"><span id="count02"></span>GB</div>
            </div>
            <div class="_contents _people">
                <div class="_title">누적 서비스 이용기관</div>
                <div class="_icon"></div>
                <div class="_data"><span id="count03"></span>개</div>
            </div>
            <div class="_web _standard_date">2020년 6월 기준</div>
        </div>
    </div>
    <div id="layout_4">
        <div class="_title">
            <span><q class="_company_name">오픈메이트온</q>은</span>
            <span>가치를</span>
            <span>전달합니다.</span>
        </div>
        <div class="_detail">
            <p>
                <span>넘쳐나는 데이터 시대에 누구나 쉽게 데이터의 가치를 활용할 수 있도록</span>
                <span>다양한 주제의 데이터 서비스와 부동산 서비스를 제공합니다.</span>
            </p>
        </div>
        <div class="_watch _type1">
            <a href="#data-service">
                <div class="_button">데이터 서비스 ></div>
            </a>
        </div>
        <div class="_watch _type2">
            <a href="#estate-service">
                <div class="_button">부동산 서비스 ></div>
            </a>
        </div>
        <div class="_slider_list">
            <div class="slider">
                <div class="_slider_item">
                    <a href="https://trend-on.co.kr" target="_blank">
                        <img src="img/home/Banner_trendon.png" alt="트렌드온">
                    </a>
                </div>
                <div class="_slider_item">
                    <a href="https://safe-on.co.kr" target="_blank">
                        <img src="img/home/Banner_safeon.png" alt="세이프온">
                    </a>
                </div>
                <div class="_slider_item">
                    <a href="https://smart-on.co.kr" target="_blank">
                        <img src="img/home/Banner_smarton.png" alt="스마트온">
                    </a>
                </div>
                <div class="_slider_item">
                    <img src="img/home/Banner_consulting.png" alt="컨설팅">
                </div>
                <div class="_slider_item"><img src="img/home/Banner_STREAM.png" alt="스트림"></div>
                <div class="_slider_item">
                    <a href="https://data-on.co.kr" target="_blank">
                        <img src="img/home/Banner_dataon.png" alt="데이터온">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="_background_2">
        <div id="layout_3">
            <div class="_title">
                <span><q class="_company_name">오픈메이트온</q>은</span>
                <span>파트너들과</span>
                <span>함께합니다.</span>
            </div>
            <div class="_detail">
                <p>
                    <span>데이터의 가치를 더하는 'Big Value Creator'로서</span>
                    <span>'함께' 성장할 파트너를 찾고 있습니다</span>
                    <span>함께하는 파트너들이 늘어날수록 우리가 변화시킬 세상도 커집니다</span>
                </p>
            </div>
            <div class="_contact _partner">
                <div class="_button"><a href="mailto:sales@openmate-on.co.kr">파트너 문의 ></a></div>
            </div>
            <div class="_partner_list">
                <div class="_partner_item _type1">
                    <div class="_image"></div>
                </div>
                <div class="_partner_item _type2">
                    <div class="_image"></div>
                </div>
                <div class="_partner_item _type3">
                    <div class="_image"></div>
                </div>
                <div class="_partner_item _type4">
                    <div class="_image"></div>
                </div>
                <div class="_partner_item _type5">
                    <div class="_image"></div>
                </div>
                <div class="_partner_item _type6">
                    <div class="_image"></div>
                </div>
            </div>
        </div>
    </div>
</div>