<div id="intro">
    <div class="_background">

        <div id="layout_1">
            <div class="_rending_image">
                <div class="_title">
                    <p>오픈메이트온은</p>
                    <p>데이터의 가치를 나눕니다</p>
                </div>
            </div>
        </div>
        <div id="layout_2">
            <div class="_desc">
                <div class="_top _web">
                    <span class="_title">CEO 인사말</span>
                    <span>생활에 가치를 더하는</span>
                    <span>빅데이터 전문가 그룹으로 발전하겠습니다</span>
                </div>
                <div class="_top _mobile">
                    <span class="_title">CEO 인사말</span>
                    <span>생활에 가치를 더하는</span>
                    <span>빅데이터 전문가 그룹으로</span>
                    <span>발전하겠습니다</span>
                </div>
                <div class="_bottom">
                    <span>(주) 오픈메이트온</span>
                    <span>대표 이은영</span>
                </div>
            </div>
            <div class="_ceo_image">
            </div>
            <div class="_detail">
                <div class="_web">
                    <p>“데이터를 실생활의 가치로 전환시키자!”</p>
                    <p>
                        <span>공간정보와 유관기술을 고객의 비즈니스에 적용,</span>
                        <span>빠르고 쉽게 고객의 문제를 해결할 수 있는 솔루션 구축사업과</span>
                        <span>이를 활용할 수 있도록 지원하는 컨설팅을 업으로 하는 모회사,</span>
                        <span>“오픈메이트”로부터 <q class="emphasis">우리 오픈메이트온은 2019년 5월 출범하였습니다.</q></span>
                    </p>
                    <p>
                        <span>오픈메이트의 가치에 <q class="emphasis">“PLUS+ ON”</q>하여, 보다 데이터에 집중하고, 보다 서비스에 집중.</span>
                        <span>누구나 쉽고 정확하게 데이터를 활용하고 이를 통한 사회적 가치창출과 개개인의 가치 실현이</span>
                        <span>이루어질 수 있는 기반을 만드는 것이 우리의 사명입니다.</span>
                        <span>3P (Passion, Partnership, Professional)를 모두 갖춘 <q class="emphasis">데이터 전문가 그룹</q>으로 우뚝
                            서,</span>
                        <span>모두에게 가치가 되는 데이터서비스 플랫폼을 제공하겠습니다.</span>
                        <span>감사합니다.</span>
                    </p>
                </div>
                <div class="_mobile">
                    <p>“데이터를 실생활의 가치로 전환시키자!”</p>
                    <p>
                        <span>공간정보와 유관기술을 고객의 비즈니스에 적용,</span>
                        <span>빠르고 쉽게 고객의 문제를 해결할 수 있는</span>
                        <span>솔루션 구축사업과 이를 활용할 수 있도록 지원하는 컨설팅을</span>
                        <span>업으로 하는 모회사, “오픈메이트”로부터</span>
                        <span><q class="emphasis">우리 오픈메이트온은 2019년 5월 출범하였습니다.</q></span>
                    </p>
                    <p>
                        <span>오픈메이트의 가치에 <q class="emphasis">“PLUS+ ON”</q>하여,</span>
                        <span>보다 데이터에 집중하고, 보다 서비스에 집중.</span>
                        <span>누구나 쉽고 정확하게 데이터를 활용하고</span>
                        <span>이를 통한 사회적 가치창출과 개개인의 가치 실현이</span>
                        <span>이루어질 수 있는 기반을 만드는 것이 우리의 사명입니다.</span>
                        <span>3P (Passion, Partnership, Professional)를 모두 갖춘</span>
                        <span><q class="emphasis">데이터 전문가 그룹</q>으로 우뚝 서,</span>
                        <span>모두에게 가치가 되는</span>
                        <span>데이터서비스 플랫폼을 제공하겠습니다.</span>
                    </p>
                    <p><span>감사합니다.</span></p>
                </div>
            </div>
        </div>
        <div id="layout_3">
            <div class="_title">MISSION</div>
            <div class="_detail">
                <span>빅데이터를 실생활의 가치로</span>
                <span>전환합니다</span>
            </div>
            <div class="_contents _type1">
                <div class="_icon"></div>
                <div class="_kor">데이터와 사람을 잇다</div>
                <div class="_eng">Data to Demand</div>
            </div>
            <div class="_contents _type2">
                <div class="_icon"></div>
                <div class="_kor">데이터로 가치를 전달한다</div>
                <div class="_eng">IT to Business Value</div>
            </div>
            <div class="_contents _type3">
                <div class="_icon"></div>
                <div class="_kor">데이터로 보는 세상을 열다</div>
                <div class="_eng">
                    <p>Data to Transformation</p>
                    <p>with A.I. Tech</p>
                </div>
            </div>
        </div>
        <div id="layout_4">
            <div class="_title">HISTORY</div>
            <div class="_detail">
                <span>오픈메이트온은</span>
                <span>성장하고 있습니다</span>
            </div>
            <div class="_contents"></div>
        </div>
        <div id="layout_5">
            <div class="_title">
                <span>LATEST</span>
                <span>NEWS</span>
            </div>
            <div class="_detail">
                <span>언론 속 오픈메이트온은</span>
                <span>어떤 모습일까요?</span>
            </div>
            <div class="_contents _type1">
                <div class="_card">
                    <div class="_image"></div>
                    <div class="_title">
                        <span>IT DAILY</span>
                    </div>
                    <div class="_detail">
                        <span>오픈메이트온, 21대 총선,</span>
                        <span>우리동네 후보자</span>
                        <span>검색 서비스 론칭</span>
                    </div>
                    <div class="_contents">
                        <span>지역 정보와 21대 국회의원 선거 후보자</span>
                        <span>정보, 공약을 비교할 수 있는 서비스가</span>
                        <span>론칭됐다. 오픈메이트온(대표 이은영)...</span>
                    </div>
                </div>
            </div>
            <div class="_add">
                <div class="_button _plus">더 보기 +</div>
                <div class="_button _fold">접기</div>
            </div>
        </div>
    </div>