<div id="welfare">
    <div id="layout_1">
        <div class="_rending_image">
            <div class="_title">
                <p>오픈메이트온은</p>
                <p>개인의 삶과 목표를 존중합니다.</p>
            </div>
        </div>
    </div>
    <div id="layout_2">
        <div class="_title">Welfare</div>
        <div class="_detail">
            <span>개인의 업무리듬을 존중하는 회사</span>
        </div>
        <div class="_contents _type1">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel1-1.png" alt="">
                <span>장기 근속 휴가</span>
            </div>
            <div class="_detail">3년 근속시 휴가 / 휴가비 지원</div>
        </div>
        <div class="_contents _type2">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel1-2.png" alt="">
                <span>ON's Day</span>
            </div>
            <div class="_detail">매월 마지막 금요일 조기퇴근!</div>
        </div>
        <div class="_contents _type3">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel1-3.png" alt="">
                <span>자기개발</span>
            </div>
            <div class="_detail">도서구입, 세미나 컨퍼런스 참여지원</div>
        </div>
        <div class="_contents _type4">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel2-1.png" alt="">
                <span>쾌적한 근무 환경</span>
            </div>
            <div class="_detail">힙지로 공유오피스 쾌적한 환경</div>
        </div>
        <div class="_contents _type5 _linebreak_title">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel2-2.png" alt="">
                <span>아낌없는</span>
                <span>장비 지원</span>
            </div>
            <div class="_detail">최신 노트북/PC, 모니터 지원</div>
        </div>
        <div class="_contents _type6">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel2-3.png" alt="">
                <span>건강이 우선</span>
            </div>
            <div class="_detail">건강검진 전문기관 비용지원</div>
        </div>
        <div class="_contents _type7">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel3-1.png" alt="">
                <span>회식 문화</span>
            </div>
            <div class="_detail">술자리 회식은 지양, 맛집 투어 장려</div>
        </div>
        <div class="_contents _type8">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel3-2.png" alt="">
                <span>함께 기뻐해요</span>
            </div>
            <div class="_detail">생일, 경조사 지원</div>
        </div>
        <div class="_contents _type9">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel3-3.png" alt="">
                <span>눈치없이 쉬어요</span>
            </div>
            <div class="_detail">자유로운 연차 사용</div>
        </div>
        <!-- <div class="_contents _type10 _linebreak_detail">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel4-1.png" alt="">
                <span>함께해요</span>
            </div>
            <div class="_detail">
                <span>해외워크샵, 실별 GWP를 위한</span>
                <span>활동지원</span>
            </div>
        </div>
        <div class="_contents _type11 _linebreak_detail">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel4-2.png" alt="">
                <span>마셔요</span>
            </div>
            <div class="_detail">
                <span>레몬원터, 우유 제공</span>
                <span>커피, 맥주는 무제한</span>
            </div>
        </div>
        <div class="_contents _type12">
            <div class="_title">
                <img class="_icon" src="img/welfare//icon_wel4-3.png" alt="">
                <span>소원수리</span>
            </div>
            <div class="_detail">뭐든 말해보세요</div>
        </div> -->
    </div>
    <div id="layout_3">
        <div class="_title">Recruit</div>
        <div class="_detail">
            <span>우리와 함께해요</span>
        </div>
        <div class="_contents _first">
            <div class="_title">근무 환경</div>
            <div class="_slider_list">
                <div class="slider">
                    <div class="_slider_item"><img src="img/welfare/P05_01.png" alt=""></div>
                    <div class="_slider_item"><img src="img/welfare/P05_02.png" alt=""></div>
                    <div class="_slider_item"><img src="img/welfare/P05_03.png" alt=""></div>
                    <div class="_slider_item"><img src="img/welfare/P05_04.png" alt=""></div>
                    <div class="_slider_item"><img src="img/welfare/P05_05.png" alt=""></div>
                    <div class="_slider_item"><img src="img/welfare/P05_06.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="_contents">
            <div class="_title">전형 절차</div>
            <div class="_line_graph">
                <img class="_web" src="img/welfare/W.step.png" alt="">
                <img class="_mobile" src="img/welfare/step.png" alt="">
            </div>
        </div>
        <div class="_contents">
            <div class="_title">지원 자격</div>
            <div class="_table_list">
                <table>
                    <colgroup>
                        <col width="35%" />
                        <col width="65%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>지원자격</td>
                            <td>각 부문 해당 분야 전공 학사학위 이상인 자</td>
                        </tr>
                        <tr>
                            <td>제출서류</td>
                            <td>입사지원서(자기소개서 포함) 1부</td>
                        </tr>
                        <tr>
                            <td>지원방법</td>
                            <td>이메일 입사지원<span>(sales@openmate-on.co.kr)</span></td>
                        </tr>
                        <tr>
                            <td>접수기간 및<br>합격자 발표</td>
                            <td>각 부문별 채용공고 내 접수기간 확인</td>
                        </tr>
                        <tr>
                            <td>문의처</td>
                            <td>02-6956-7541<br>sales@openmate-on.co.kr</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>